*{
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1200px;
  margin: auto;
}


/* BURGER   */

#menuToggle{
  display: none;
  position: relative;
  top: 0px;
  right: 4px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover{
  color: tomato;
}
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -282px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  margin-top: 22px;
}
#menu li a{
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}
#menuToggle input:checked ~ ul{
  transform: none;
}


/* HEADER   */

header{
  background: #181818;
  padding: 24px 0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 32px;
}

header .main-nav ul{
  list-style: none;
  align-items: center;
  display: flex;
}

header .main-nav ul li{
  margin-left: 32px;
}

header .main-nav ul li:first-of-type{
  margin-right: 24px;
}

header .main-nav li a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

header .main-nav ul li:first-of-type a{
  font-size: 13px;
}    

header .main-nav ul li:last-of-type a{
  background: #FFFFFF;
  border-radius: 14px;
  color: #000000;
  padding: 11px 20px;
  font-size: 16px;
  letter-spacing: 0.4px;
}  


/* MAIN   */

.wrapper{
  padding-bottom: 70px;
}
.main-banner{
  background-image: url("../Images/IMAGE.jpg");
  background-size: cover;
  height: 100vh;
  height: calc(100vh - 86px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-banner h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  padding-bottom: 1px;
}

.main-banner h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 18px;
}

.main-banner p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C0C0C0;
  max-width: 580px;
  padding: 0px 30px;
}

.wrap{
  background: #000000;
  padding: 120px 0
}

.link{
  display: flex;
  justify-content: center;
}

.wrap h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.wrap p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 22px;
}

.help{
  max-width: 600px;
}

.wrap a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  width: 153px;
  height: 42px;
}

.wrap a:before{
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 5px;
}

.text{
  max-width: 300px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 60px;
}

.text-2{
  padding-right: 90px;
}

.text-3{
  padding-right: 120px;
}

.info{
  min-height: 600px;
  background-image: url(../Images/IMAGEe.jpg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-size: cover;
  
}

.bg-img2{
  background-image: url(../Images/IMAG.jpg);
}

.bg-img3{
  background-image: url(../Images/IMA.jpg);
}

.info h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
} 

.info p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}

.bottom-icon{
  position: absolute;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  list-style: none;
}

.bottom-icon li{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  margin-left: 16px;
}

.bottom-icon li::before{
  content: "";
  display: inline-block;
  background-image: url(../Images/Combined-Shape1.svg);
  width: 16px;
  height: 16px;
  margin-right: 6px;
  position: relative;
  top: 5px;
}

.bottom-icon li:nth-child(2):before{
  background-image: url(../Images/Combined-Shape2.svg);
}

.bottom-icon li:nth-child(3):before{
  background-image: url(../Images/Combined-Shape3.svg);
  width: 32px;
}

.bottom-icon li:nth-child(4):before{
  background-image: url(../Images/Fill-1.svg);
  width: 10px;
}

.works_wrapper{
  padding: 120px 0 100px 0;
  background: #000000;
  border-radius: 0px;
  display: flex;
  justify-content: center;
}

.products{
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1167px;
  display: flex;

}

.works_wrapper h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.works_wrapper p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 40px;
}

.page{
  position: relative;
  max-width: 576px;
  margin-bottom: 15px;
}

.content{
  position: absolute;
  width: 100%;
  left: 30px;
  bottom: 30px;
}

.works_wrapper .products .page .content p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  text-align: left;
  max-width: 500px;
}

.works_wrapper .products .page .content h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.works_wrapper .products .page .content a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  width: 153px;
  height: 42px;
}
.works_wrapper .products .page .content a:before{
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 5px;
}
.works_wrapper .page img{
  display: block;
  width: 100%;
}

.tools{
  position: relative;
  background-color: #000000;
}
.cent-cont {
  max-width: 514px;
}
.cent-cont .link{
  justify-content: flex-start;
}
.image-bg{
  width: 50%;
  position: absolute;
  height: 100%;
  background-size: cover;
  background-image: url(../Images/im.jpg);
  right: 0;
  top: 0;
}

.tools .container{
  max-width: 1240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 540px;
  color: #FFFFFF;
}

.tools h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 6px;
}

.tools h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.tools p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.tools a{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  width: 153px;
  height: 42px;
}

.tools a:before{
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 5px;
}
.clients{
  background: #000000;
  padding: 80px 0;
}

.clients h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;

}

.clients p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
text-align: center;
color: #C0C0C0;
}

.companies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}


/* FOOTER   */

footer{
  padding-top: 80px;
  background-color: black;
  color: #FFFFFF;
}
footer .container{
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: solid 2px #FFFFFF;
}
footer .left-logo a img{
  margin-bottom: 20px;
}
footer .container:last-of-type{
  border: none;
}

footer .left-logo p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}

footer h5{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 36px;
  margin-bottom: 20px;
}
.button_text{
  margin-bottom: 36px;
}
footer .right-sub-menu{
  display: flex;
  align-items: flex-start;
}
footer .right-sub-menu ul a{
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
footer .right-sub-menu ul{
  list-style: none;
}

footer .right-sub-menu ul li{
margin-bottom: 10px;
}

footer .right-sub-menu ul li:first-of-type{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}

footer .right-sub-menu ul:first-of-type{
  margin-right: 55px;
}

footer .right-sub-menu ul:lust-of-type{
  margin-right: 100px;
}

footer form{
  background-color: white;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  max-width: 458px;
  width: 100%;
  height: 52px;
  padding: 11px 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}
footer form .form-control{
  background-color: transparent;
  border: none;
  height: 30px;
  width: 80%;
  display: inline-block;
}
footer form button{
  background-color: black;
  height: 30px;
  border: none;
  border-radius: 11px;
  width: 63px;
  cursor: pointer;
}

footer .last-section p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-top: 56px;
}
footer .last-section ul{
  list-style: none;
  display: flex;
  margin-top: 56px;
}
footer .last-section ul li{
  margin-left: 20px;
}
footer .last-section ul li:last-of-type{
  margin-left: 26px;
}